<h1>OTP Authentication</h1>

<%=form_with model: @otp, url:'/register/passengers/authenticate' do |form| %>
    <div>
      <%= form.label :code %><br>
      <%= form.text_field  :code ,placeholder: "Enter OTP" %>
    </div>
    <br> 
    <div>
      <%= form.submit "Verify OTP" %>
    </div>
<% end %>

