<div class="d-flex align-items-center justify-content-center">
<h1> About the Application</h1>
</div> 
<div class="d-flex align-items-center justify-content-center">
<p> <h3>Customers will be able to reserve their vehicles from anywhere in the world due to
Vehicle Sharing Application. Users provide information to this application by filling in
their personal information. When a user creates an account on the website, he or she can
reserve a car.</h3></p>
</div>
<div class="d-flex align-items-center justify-content-center">
<p><h3>Vehicle Sharing is an
application that enables people to rent their choice of cars for a short
period of time. This application lists all the cars of different brands
in this website. This application is primarily designed for a limited
period of time and short distance trips as an extension of the trans-
portation network, providing a public service designed to enhance
mobility options. In future, longer trips may be available which will
be useful for passengers.</h3></p>
</div>